.type-set {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  width: 20rem;

  @media (max-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
