@import "styles";

.type-wheel {
  --rotate-deg: 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 22rem;
  }

  &__inner {
    touch-action: none;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: rotate(var(--rotate-deg, 0deg));
    transition: transform 0.2s ease-out;
    height: 22rem;
    width: 22rem;
    @media (max-width: 480px) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
