@import "styles";

.type-selection {
  @include flex;
  width: 4rem;
  height: 4rem;
  background: gray;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: clamp(0.5rem, 0.5vw, 1rem);
  transition: transform 0.3s ease-in-out;

  @media (max-width: 480px) {
    width: 3rem;
    height: 3rem;
  }
}

.isSelected {
  box-shadow: 0 0 20px 1px gold;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease-in-out;

  @media (max-width: 480px) {
    width: 3rem;
    height: 3rem;
  }
}
