@import "styles";

.wheel {
  @include flex;
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  border: 5px solid blue;
  border-radius: 50%;
  transform: rotate(var(--rotate-deg, 0deg));
}
