@import "styles";

.wheel {
  --rotate-deg: 0;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  border: 5px solid blue;
  transform-origin: 50% 50%;
  transform: rotate(var(--rotate-deg, 0deg));
}
