@import "styles";

.wheel {
  --rotate-deg: 0;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  transform-origin: 50% 50%;
  transform: rotate(var(--rotate-deg, 0deg));
  transition: transform 0.2s ease-out;
}
